<html lang="zxx">
<body>
<!-- Page Preloder -->
<!--<div id="preloder">-->
  <!--<div class="loader"></div>-->
<!--</div>-->

<app-main-top-bar></app-main-top-bar>

<!-- Page info -->
<div class="page-top-info">
  <div class="container">
    <h4>Checkout</h4>
    <div class="site-pagination">
      <a href="">Home</a> /
      <a href="">Your cart</a>
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- checkout section  -->
<section class="checkout-section spad">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 order-2 order-lg-1">
        <form class="checkout-form">
          <div class="cf-title">Billing Address</div>
          <div class="row">
            <div class="col-md-7">
              <p>*Billing Information</p>
            </div>
            <div class="col-md-5">
              <div class="cf-radio-btns address-rb">
                <div class="cfr-item">
                  <input type="radio" name="pm" id="one">
                  <label for="one">Use my regular address</label>
                </div>
                <div class="cfr-item">
                  <input type="radio" name="pm" id="two">
                  <label for="two">Use a different address</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row address-inputs">
            <div class="col-md-12">
              <input type="text" placeholder="Address">
              <input type="text" placeholder="Address line 2">
              <input type="text" placeholder="Country">
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Zip code">
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Phone no.">
            </div>
          </div>

          <div class="cf-title">Delivery Info</div>
          <div class="row shipping-btns">
            <div class="col-6">
              <h4>Standard</h4>
            </div>
            <div class="col-6">
              <div class="cf-radio-btns">
                <div class="cfr-item">
                  <input type="radio" name="shipping" id="standard" (change)="handleChange($event)" checked>
                  <label for="standard">€5.00</label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <h4>Express </h4>
            </div>
            <div class="col-6">
              <div class="cf-radio-btns">
                <div class="cfr-item">
                  <input type="radio" name="shipping" id="express" (change)="handleDeliveryChange($event)">
                  <label for="express">€10.00</label>
                </div>
              </div>
            </div>
          </div>

          <div class="cf-title">Payment</div>
          <ul class="payment-list">
            <li>Paypal<img src="./assets/img/paypal.png" alt="">
              <input type="radio" name="payment" id="paypal" (change)="handlePaymentChange($event)" checked>
            </li>
            <li>Credit / Debit card<img src="./assets/img/mastercart.png" alt="">
              <input type="radio" name="payment" id="card" (change)="handlePaymentChange($event)">
            </li>
          </ul>

          <div class="container" id="card-details">
            <div class="form-group">
              <label for="firstname">*First name</label>
              <input type="firstname" class="form-control" id="firstname" name="firstname">
            </div>
            <div class="form-group">
              <label for="lastname">*Last name</label>
              <input type="lastname" class="form-control" id="lastname" name="lastname">
            </div>
            <div class="form-group">
              <label for="cardnumber">*Card number</label>
              <input type="cardnumber" class="form-control" id="cardnumber" name="cardnumber">
            </div>
            <div class="form-group">
              <label for="expiry">*Expiry date</label>
              <input type="expiry" class="form-control" id="expiry" name="expiry">
            </div>
            <div class="form-group">
              <label for="cvv">*CVV</label>
              <input type="cvv" class="form-control" id="cvv" name="cvv">
            </div>
          </div>

          <button class="site-btn submit-order-btn">Place Order</button>
        </form>
      </div>

      <div class="col-lg-4 order-1 order-lg-2">
        <div *ngIf="cartItems" class="checkout-cart">
          <h4>Your Order</h4>
          <h6>{{cartItems.length}} items</h6>
          <ul class="product-list">
            <li *ngFor="let item of cartItems">
              <div class="pl-thumb"><img src="{{item.i.img}}" alt=""></div>
              <h6>€{{item.i.pr}}</h6>
              <p>{{item.i.n}}</p>
              <p>Size: {{item.s}}</p>
              <p>Q-ty: {{item.q}}</p>
            </li>
          </ul>

          <ul class="price-list">
            <li>Total<span id="pre-sum">€0.00</span></li>
            <li>Shipping<span id="shipping-amount">€5</span></li>
            <li class="total">Total<span id="total-sum" >€0.00</span></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- checkout section end -->

</body>
</html>
